transform(val) {

  transform val;
  -webkit-transform val;
  -moz-transform val;

}

translation(val) {
  translation val;
  -webkit-translation val;
  -moz-translation val;
}

.t {
  transform translateX(100px)

}