transform()
  transform arguments;
  -webkit-transform arguments;
  -moz-transform arguments;

translation()
  translation arguments;
  -webkit-translation arguments;
  -moz-translation arguments;
  -o-translation arguments

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

opacity(val)
  opacity val
  -webkit-opacity val
  -moz-opacity val

display(val)
  if val == 'box'
    display box
    display -webkit-box
  else
    display val

user-select(val)
  -webkit-touch-callout: val;
  -webkit-user-select: val;
  -khtml-user-select: val;
  -moz-user-select: val;
  -ms-user-select: val;
  user-select: val;

*
  margin 0
  padding 0
  box-sizing border-box
  border: none
  //user-select: none