* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.slide.in {
    -webkit-animation-name: slideinfromright;
    animation-name: slideinfromright;
}
.slide.out {
    -webkit-animation-name: slideouttoleft;
    animation-name: slideouttoleft;
}
.in, .out {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.slide.out, .slide.in {
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 725ms;
    animation-timing-function: ease-out;
    animation-duration: 725ms;
}

.slide.reverse.out {
    -webkit-animation-name: slideouttoright;
    animation-name: slideouttoright;
}
.slide.reverse.in {
    -webkit-animation-name: slideinfromleft;
    animation-name: slideinfromleft;
}

@-webkit-keyframes slideinfromright {
    from { -webkit-transform: translate3d(100%,0,0); }
    to { -webkit-transform: translate3d(0,0,0); }
}
@keyframes slideinfromright {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}
@-webkit-keyframes slideinfromleft {
    from { -webkit-transform: translate3d(-100%,0,0); }
    to { -webkit-transform: translate3d(0,0,0); }
}
@keyframes slideinfromleft {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}
@-webkit-keyframes slideouttoleft {
    from { -webkit-transform: translate3d(0,0,0); }
    to { -webkit-transform: translate3d(-100%,0,0); }
}
@keyframes slideouttoleft {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}
@-webkit-keyframes slideouttoright {
    from { -webkit-transform: translate3d(0,0,0); }
    to { -webkit-transform: translate3d(100%,0,0); }
}
@keyframes slideouttoright {
    from { transform: translateX(0); }
    to { transform: translateX(100%); }
}

.page{
    position: absolute;
    left: 0;
    width:100%;
    height:100%;

}
.hide{display: none}
.leftL{
    position: absolute;
    left: 0;
    height: 60px;
    top:39%;
    width: 15px;
    border:solid 1px gray;
    z-index: 99;
    background: rgba(146, 146, 146, 0.56);
    word-break: break-all;

}
.rigthL{
    position: absolute;
    right: 0;
    height: 60px;
    top:39%;
    width: 15px;
    border:solid 1px gray;
    z-index: 99;
    background: rgba(146, 146, 146, 0.56);
    word-break: break-all;

}