* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.slide.in {
    -moz-animation-name: slideinfromright;
    -webkit-animation-name: slideinfromright;
    animation-name: slideinfromright;
}
.slide.out {
    -moz-animation-name: slideouttoleft;
    -webkit-animation-name: slideouttoleft;
    animation-name: slideouttoleft;
}
.in, .out {
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.slide.out, .slide.in {
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 525ms;

    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 525ms;

    animation-timing-function: ease-out;
    animation-duration: 525ms;
}

.slide.reverse.out {
    -moz-animation-name: slideouttoright;
    -webkit-animation-name: slideouttoright;
    animation-name: slideouttoright;
}
.slide.reverse.in {
    -moz-animation-name: slideinfromleft;
    -webkit-animation-name: slideinfromleft;
    animation-name: slideinfromleft;
}
@-moz-keyframes slideinfromright {
    from { -webkit-transform: translate3d(100%,0,0); }
    to { -webkit-transform: translate3d(0,0,0); }
}
@-webkit-keyframes slideinfromright {
    from { -webkit-transform: translate3d(100%,0,0); }
    to { -webkit-transform: translate3d(0,0,0); }
}
@keyframes slideinfromright {
    from { transform: translate3d(100%,0,0); }
    to { transform: translate3d(0,0,0); }
}

@-moz-keyframes slideinfromleft {
    from { -webkit-transform: translate3d(-100%,0,0); }
    to { -webkit-transform: translate3d(0,0,0); }
}
@-webkit-keyframes slideinfromleft {
    from { -webkit-transform: translate3d(-100%,0,0); }
    to { -webkit-transform: translate3d(0,0,0); }
}
@keyframes slideinfromleft {
    from { transform: translate3d(-100%,0,0); }
    to { transform: translate3d(0,0,0); }
}

@-moz-keyframes slideouttoleft {
    from { -webkit-transform: translate3d(0,0,0); }
    to { -webkit-transform: translate3d(-100%,0,0); }
}
@-webkit-keyframes slideouttoleft {
    from { -webkit-transform: translate3d(0,0,0); }
    to { -webkit-transform: translate3d(-100%,0,0); }
}
@keyframes slideouttoleft {
    from { transform: translate3d(0,0,0); }
    to { transform: translate3d(-100%,0,0); }
}

@-moz-keyframes slideouttoright {
    from { -webkit-transform: translate3d(0,0,0); }
    to { -webkit-transform: translate3d(100%,0,0); }
}
@-webkit-keyframes slideouttoright {
    from { -webkit-transform: translate3d(0,0,0); }
    to { -webkit-transform: translate3d(100%,0,0); }
}
@keyframes slideouttoright {
    from { transform: translate3d(0,0,0); }
    to { transform: translate3d(100%,0,0); }
}

.page-box{
    width:100%;
    position: relative;
    overflow: hidden;
    height: 100%;
    left:0;
    top:0;
}
.page{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    /*border:solid 1px red;*/

}
.hide{display: none}
