@import 'comm'

#pay-page
  width: 20rem
  padding-top 2rem
  .hide
    display none !important;
  .card
    width 36rem
    margin auto
    border-radius 1px
    border-top solid 1px #cecece;
    height 26rem
    transform scale(0.5) translate3d(-16rem,-13rem,0);
  .product
    height 18rem
    background rgba(243, 243, 243, 0.38);
    font-size 8rem
    text-align center
    background url("../res/pay-bg.jpg")
    background-size 100% auto
  .proAttr
    border: solid 1px #cecece
    border-top:none !important;
    height 4rem
    display box
    >div
      width 33.33%
      text-align center
      font-size 1.8rem
      line-height 4rem;
      color: #8a8a8a
      &:nth-child(2)
        border-left:solid 1px #cecece
        border-right:solid 1px #cecece
  .check
    background url("../res/check.png") no-repeat
    background-size: auto 60%;
    background-position:90% 50%;