* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#pay-page {
  width: 20rem;
  padding-top: 2rem;
}
#pay-page .hide {
  display: none;
}
#pay-page .card {
  width: 36rem;
  margin: auto;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border-top: solid 1px #cecece;
  height: 26rem;
  transform: scale(0.5) translate3d(-16rem, -13rem, 0);
  -webkit-transform: scale(0.5) translate3d(-16rem, -13rem, 0);
  -moz-transform: scale(0.5) translate3d(-16rem, -13rem, 0);
}
#pay-page .product {
  height: 18rem;
  background: rgba(243,243,243,0.38);
  font-size: 8rem;
  text-align: center;
  background: url("../res/pay-bg.jpg");
  background-size: 100% auto;
  background-position: center;
  color: #fff;
  text-shadow: #808080 3px 5px 5px;
}
#pay-page .proAttr {
  border: solid 1px #cecece;
  border-top: none !important;
  height: 4rem;
  display: box;
  display: -webkit-box;
  overflow: hidden;
}
#pay-page .proAttr >div {
  width: 33.33%;
  text-align: center;
  font-size: 1.8rem;
  line-height: 4rem;
  color: #8a8a8a;
  transition: transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
}
#pay-page .proAttr >div:nth-child(2) {
  border-left: solid 1px #cecece;
  border-right: solid 1px #cecece;
}
#pay-page .check {
  background: url("../res/check.png") no-repeat;
  background-size: auto 60%;
  background-position: 90% 50%;
}
#pay-page .bottom {
  position: fixed;
  bottom: -1px;
  background: url("../res/shop-car.png") no-repeat;
  background-size: auto 70%;
  background-position: 3% center;
  height: 3rem;
  width: 20rem;
  border-top: solid 1px #e6e6e6;
  background-color: rgba(239,239,239,0.56);
  display: box;
  display: -webkit-box;
  transition: all 0.5s;
}
#pay-page .bottom >div {
  text-align: right;
  line-height: 3rem;
  width: 30%;
}
#pay-page .bottom >div:nth-child(1) {
  width: 70%;
  padding-left: 20%;
}
#pay-page .bottom >div:last-child {
  padding-right: 1rem;
}
#pay-page .paybutt {
  width: 5rem;
  border: solid 1px #daa520;
  height: 1.9rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  line-height: 1.9rem;
  text-align: center;
  text-decoration: blink;
  color: #fff;
  background-color: #ffbb0f;
  font-weight: bold;
  font-size: 0.9rem;
}
#pay-page .info {
  display: box;
  display: -webkit-box;
  font-size: 1rem;
}
#pay-page .info >span {
  width: 70%;
  text-align: right;
  display: block;
  padding-right: 3px;
  font-size: 1rem;
}
#pay-page .info >select {
  font-size: 1rem;
  width: 30%;
  display: block;
  height: 3rem;
  border: none !important;
  text-align: center;
  background-color: rgba(239,239,239,0.56);
  -webkit-appearance: none !important;
  -webkit-rtl-ordering: none !important;
}
#pay-page #_price {
  width: 2rem;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
}
#pay-page .hobbyAnimate {
  transform: translateY(-4rem);
  -webkit-transform: translateY(-4rem);
  -moz-transform: translateY(-4rem);
}
#pay-page .bottom-leave {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
}
